In [32]:
#Import Dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [48]:
state_data = 'publicAssistanceData/output_data/state_data/'
alabama_data = pd.read_csv(state_data + 'AlabamaPublic.csv')
alabama_data.head()

   disasterNumber county           declarationDate incidentType  amountOblig
0            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane    160829.33
1            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane    367256.52
2            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane     29615.25
3            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane     71458.04
4            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane     12179.74

In [49]:
#Extra cleaning of FEMA data for merging
#Remove County data
alabama_data = alabama_data.drop('county', axis=1)
alabama_data.head()
#Changing date to year
dates = alabama_data.declarationDate
years = []
for date in dates:
    year = int(date[0:4])
    years.append(year)
alabama_data['declarationDate'] = years
alabama_data = alabama_data.rename(columns={'declarationDate':'year','disasterNumber':'disasterID', 'amountOblig':'FEMA$'})
#Remove data before '03
alabama_data = alabama_data[alabama_data['year'] >= 2003]
alabama_data = alabama_data[alabama_data['year'] <= 2018]
alabama_data.head()

     disasterID  year     incidentType      FEMA$
348        1466  2003  Severe Storm(s)   93998.29
349        1466  2003  Severe Storm(s)   13497.98
350        1466  2003  Severe Storm(s)   49107.89
351        1466  2003  Severe Storm(s)  395072.54
352        1466  2003  Severe Storm(s)    3750.00

In [70]:
#Group the data to by year and disaster
alabama_group = alabama_data.groupby(['year', 'disasterID'])
disaster_types = alabama_group['incidentType'].unique()
disaster_types_fix = [dis[0] for dis in disaster_types]
alabama_group_df = pd.DataFrame({'FEMA$':alabama_group['FEMA$'].sum(), 'incidentType':disaster_types_fix})
alabama_group_df.head()

                        FEMA$     incidentType
year disasterID
2003 1466        1.213776e+07  Severe Storm(s)
2004 1549        2.182246e+08        Hurricane
2005 1593        1.986408e+07        Hurricane
     1605        1.168102e+08        Hurricane
     3237        2.942631e+06        Hurricane