In [2]:
#Import Dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [12]:
state_data = 'publicAssistanceData/output_data/state_data/'
states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","NewHampshire","NewJersey","NewMexico","NewYork",
  "NorthCarolina","NorthDakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "RhodeIsland","SouthCarolina","SouthDakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","WestVirginia","Wisconsin","Wyoming", "DistrictofColumbia"]
dfs = []
for state in states:
    try:
        df = pd.read_csv(f'publicAssistanceData/output_data/state_data/{state}Public.csv')
    except:
        print(state)
    dfs.append(df)

RhodeIsland

       Tornado

       amountOblig
 0         9999.00
 1      2516339.27
 2         2526.84
 3        13707.00
 4         5690.40
 ...           ...
 6040      7127.45
 6041     18753.69
 6042     12848.73
 6043     24581.29
 6044      4556.21

 [6045 rows x 5 columns],
       disasterNumber        county           declarationDate     incidentType  \
 0               1272     Statewide  1999-05-04T00:00:00.000Z          Tornado
 1               1272      Okmulgee  1999-05-04T00:00:00.000Z          Tornado
 2               1272     Cleveland  1999-05-04T00:00:00.000Z          Tornado
 3               1272      Oklahoma  1999-05-04T00:00:00.000Z          Tornado
 4               1272     Statewide  1999-05-04T00:00:00.000Z          Tornado
 ...              ...           ...                       ...              ...
 4758            4453       Lincoln  2019-07-12T00:00:00.000Z  Severe Storm(s)
 4759            4438       Lincoln  2019-06-01T00:00:00.000Z  Severe Storm(s)
 4760            4438      Canadian  2019-06-01T00:00:00.000Z  Severe Storm(s)
 4761            4438         Osage  2019-06-01T00:00:00.000Z  Severe Storm(s)
 4762            4438  Pottawatomie  2019-06-01T00:00:00.000Z  Severe Storm(s)

       amountOblig
 0       422161.23
 1       275780.25
 2      1218393.52
 3         5302.75
 4       270373.25
 ...           ...
 4758      5461.10
 4759     74133.80
 4760      5290.13
 4761     26741.67
 4762     44647.49

 [4763 rows x 5 columns],
      disasterNumber    county           declarationDate     incidentType  \
 0              1405      Coos  2002-03-12T00:00:00.000Z  Severe Storm(s)
 1              1405   Douglas  2002-03-12T00:00:00.000Z  Severe Storm(s)
 2              1405      Linn  2002-03-12T00:00:00.000Z  Severe Storm(s)
 3              1405      Coos  2002-03-12T00:00:00.000Z  Severe Storm(s)
 4              1405      Lane  2002-03-12T00:00:00.000Z  Severe Storm(s)
 ..              ...       ...                       ...              ...
 955            4432   Douglas  2019-05-02T00:00:00.000Z  Severe Storm(s)
 956            4452      Linn  2019-07-09T00:00:00.000Z            Flood
 957            4452  Umatilla  2019-07-09T00:00:00.000Z            Flood
 958            4432   Douglas  2019-05-02T00:00:00.000Z  Severe Storm(s)
 959            4432   Douglas  2019-05-02T00:00:00.000Z  Severe Storm(s)

      amountOblig
 0        5600.00
 1       17411.25
 2       16281.75
 3       10728.75
 4         187.50
 ..           ...
 955      5188.39
 956     12559.22
 957     14099.39
 958      5538.00
 959     25940.06

 [960 rows x 5 columns],
        disasterNumber       county           declarationDate     incidentType  \
 0                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 1                1294        Bucks  1999-09-18T00:00:00.000Z        Hurricane
 2                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 3                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 4                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 ...               ...          ...                       ...              ...
 11312            4408  Susquehanna  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11313            4408  Susquehanna  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11314            4408   Schuylkill  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11315            4408     Bradford  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11316            4408   Schuylkill  2018-11-27T00:00:00.000Z  Severe Storm(s)

        amountOblig
 0        106367.84
 1         24838.11
 2         10483.46
 3         12336.22
 4         10384.19
 ...            ...
 11312      7520.00
 11313    261036.15
 11314    326092.50
 11315    249714.26
 11316     49565.38

 [11317 rows x 5 columns],
        disasterNumber       county           declarationDate     incidentType  \
 0                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 1                1294        Bucks  1999-09-18T00:00:00.000Z        Hurricane
 2                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 3                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 4                1289       McKean  1999-09-01T00:00:00.000Z  Severe Storm(s)
 ...               ...          ...                       ...              ...
 11312            4408  Susquehanna  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11313            4408  Susquehanna  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11314            4408   Schuylkill  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11315            4408     Bradford  2018-11-27T00:00:00.000Z  Severe Storm(s)
 11316            4408   Schuylkill  2018-11-27T00:00:00.000Z  Severe Storm(s)

        amountOblig
 0        106367.84
 1         24838.11
 2         10483.46
 3         12336.22
 4         10384.19
 ...            ...
 11312      7520.00
 11313    261036.15
 11314    326092.50
 11315    249714.26
 11316     49565.38

 [11317 rows x 5 columns],
       disasterNumber      county           declarationDate incidentType  \
 0               1243         NaN  1998-09-04T00:00:00.000Z    Hurricane
 1               1243         NaN  1998-09-04T00:00:00.000Z    Hurricane
 2               1243         NaN  1998-09-04T00:00:00.000Z    Hurricane
 3               1243         NaN  1998-09-04T00:00:00.000Z    Hurricane
 4               1243         NaN  1998-09-04T00:00:00.000Z    Hurricane
 ...              ...         ...                       ...          ...
 1586            4464  Georgetown  2019-09-30T00:00:00.000Z    Hurricane
 1587            4464   Statewide  2019-09-30T00:00:00.000Z    Hurricane
 1588            4464  Charleston  2019-09-30T00:00:00.000Z    Hurricane
 1589            4464  Georgetown  2019-09-30T00:00:00.000Z    Hurricane
 1590            4464      Marion  2019-09-30T00:00:00.000Z    Hurricane

       amountOblig
 0        23763.38
 1         6123.75
 2       676260.00
 3         5071.50
 4       824226.75
 ...           ...
 1586      5785.25
 1587    913658.18
 1588      3080.97
 1589     12886.04
 1590     24283.70

 [1591 rows x 5 columns],
       disasterNumber         county           declarationDate incidentType  \
 0               1280      Statewide  1999-06-09T00:00:00.000Z      Tornado
 1               1280  Oglala Lakota  1999-06-09T00:00:00.000Z      Tornado
 2               1280  Oglala Lakota  1999-06-09T00:00:00.000Z      Tornado
 3               1280      Statewide  1999-06-09T00:00:00.000Z      Tornado
 4               1280      Statewide  1999-06-09T00:00:00.000Z      Tornado
 ...              ...            ...                       ...          ...
 3824            4440        Roberts  2019-06-07T00:00:00.000Z        Flood
 3825            4440        Perkins  2019-06-07T00:00:00.000Z        Flood
 3826            4440         Hanson  2019-06-07T00:00:00.000Z        Flood
 3827            4440       Marshall  2019-06-07T00:00:00.000Z        Flood
 3828            4440          Spink  2019-06-07T00:00:00.000Z        Flood

       amountOblig
 0        19619.99
 1       438587.27
 2       129902.68
 3            0.00
 4        45500.65
 ...           ...
 3824     10189.06
 3825      4857.00
 3826     24435.62
 3827      3117.56
 3828     29042.45

 [3829 rows x 5 columns],
       disasterNumber     county           declarationDate     incidentType  \
 0               1260     Monroe  1999-01-15T00:00:00.000Z  Severe Storm(s)
 1               1275  Statewide  1999-05-12T00:00:00.000Z  Severe Storm(s)
 2               1260   Lawrence  1999-01-15T00:00:00.000Z  Severe Storm(s)
 3               1275  Statewide  1999-05-12T00:00:00.000Z  Severe Storm(s)
 4               1262    Dickson  1999-01-19T00:00:00.000Z  Severe Storm(s)
 ...              ...        ...                       ...              ...
 2235            4427     Greene  2019-04-17T00:00:00.000Z            Flood
 2236            4427    Hamblen  2019-04-17T00:00:00.000Z            Flood
 2237            4427     Hardin  2019-04-17T00:00:00.000Z            Flood
 2238            4427       Knox  2019-04-17T00:00:00.000Z            Flood
 2239            4427      Smith  2019-04-17T00:00:00.000Z            Flood

       amountOblig
 0        30357.00
 1        31317.00
 2         1156.50
 3        46402.35
 4         8108.25
 ...           ...
 2235     35633.91
 2236     50610.90
 2237     15588.50
 2238     42903.08
 2239      7489.91

 [2240 rows x 5 columns],
       disasterNumber      county           declarationDate     incidentType  \
 0               1239   Val Verde  1998-08-26T00:00:00.000Z  Severe Storm(s)
 1               1239      Kimble  1998-08-26T00:00:00.000Z  Severe Storm(s)
 2               1239   Statewide  1998-08-26T00:00:00.000Z  Severe Storm(s)
 3               1239    Maverick  1998-08-26T00:00:00.000Z  Severe Storm(s)
 4               1239      Kinney  1998-08-26T00:00:00.000Z  Severe Storm(s)
 ...              ...         ...                       ...              ...
 6224            4416   Statewide  2019-02-25T00:00:00.000Z            Flood
 6225            4416      Travis  2019-02-25T00:00:00.000Z            Flood
 6226            4416   Statewide  2019-02-25T00:00:00.000Z            Flood
 6227            4416  Schleicher  2019-02-25T00:00:00.000Z            Flood
 6228            4416     Haskell  2019-02-25T00:00:00.000Z            Flood

       amountOblig
 0        12028.63
 1         2850.00
 2        56311.18
 3         4658.78
 4         5016.00
 ...           ...
 6224   1100780.18
 6225     65999.66
 6226    423855.05
 6227     10609.69
 6228    430856.07

 [6229 rows x 5 columns],
      disasterNumber     county           declarationDate incidentType  \
 0              1285  Statewide  1999-08-16T00:00:00.000Z      Tornado
 1              1285  Salt Lake  1999-08-16T00:00:00.000Z      Tornado
 2              1285  Salt Lake  1999-08-16T00:00:00.000Z      Tornado
 3              1285  Statewide  1999-08-16T00:00:00.000Z      Tornado
 4              1285  Salt Lake  1999-08-16T00:00:00.000Z      Tornado
 ..              ...        ...                       ...          ...
 185            4311  Statewide  2017-04-21T00:00:00.000Z        Flood
 186            4311  Box Elder  2017-04-21T00:00:00.000Z        Flood
 187            4311  Box Elder  2017-04-21T00:00:00.000Z        Flood
 188            4311      Cache  2017-04-21T00:00:00.000Z        Flood
 189            4311  Box Elder  2017-04-21T00:00:00.000Z        Flood

      amountOblig
 0       91657.23
 1      361791.41
 2        2128.91
 3       11811.31
 4       14520.89
 ..           ...
 185    129632.81
 186     92963.33
 187    574479.64
 188   1419455.62
 189     27618.05

 [190 rows x 5 columns],
       disasterNumber      county           declarationDate     incidentType  \
 0               1307       Essex  1999-11-10T00:00:00.000Z  Severe Storm(s)
 1               1307   Statewide  1999-11-10T00:00:00.000Z  Severe Storm(s)
 2               1307    Lamoille  1999-11-10T00:00:00.000Z  Severe Storm(s)
 3               1307     Rutland  1999-11-10T00:00:00.000Z  Severe Storm(s)
 4               1307     Rutland  1999-11-10T00:00:00.000Z  Severe Storm(s)
 ...              ...         ...                       ...              ...
 1383            4445     Rutland  2019-06-14T00:00:00.000Z            Flood
 1384            4445  Bennington  2019-06-14T00:00:00.000Z            Flood
 1385            4445  Washington  2019-06-14T00:00:00.000Z            Flood
 1386            4445     Rutland  2019-06-14T00:00:00.000Z            Flood
 1387            4445     Windsor  2019-06-14T00:00:00.000Z            Flood

       amountOblig
 0         2505.37
 1            0.00
 2        24385.36
 3         6204.75
 4         3672.00
 ...           ...
 1383     11296.21
 1384     70051.91
 1385     10400.19
 1386      9053.94
 1387     81641.99

 [1388 rows x 5 columns],
       disasterNumber           county           declarationDate incidentType  \
 0               1242              NaN  1998-09-04T00:00:00.000Z    Hurricane
 1               1242              NaN  1998-09-04T00:00:00.000Z    Hurricane
 2               1242              NaN  1998-09-04T00:00:00.000Z    Hurricane
 3               1242              NaN  1998-09-04T00:00:00.000Z    Hurricane
 4               1242              NaN  1998-09-04T00:00:00.000Z    Hurricane
 ...              ...              ...                       ...          ...
 1624            4411     Pittsylvania  2018-12-18T00:00:00.000Z    Hurricane
 1625            4411    Prince Edward  2018-12-18T00:00:00.000Z    Hurricane
 1626            4411        Charlotte  2018-12-18T00:00:00.000Z    Hurricane
 1627            4411           Amelia  2018-12-18T00:00:00.000Z    Hurricane
 1628            4411  Danville (city)  2018-12-18T00:00:00.000Z    Hurricane

       amountOblig
 0      1672551.80
 1        95462.15
 2      4578063.76
 3      1490460.43
 4        32837.01
 ...           ...
 1624    369198.75
 1625     96950.24
 1626     12997.16
 1627     30515.45
 1628    845920.50

 [1629 rows x 5 columns],
       disasterNumber        county           declarationDate     incidentType  \
 0               1255           NaN  1998-10-16T00:00:00.000Z    Mud/Landslide
 1               1252           NaN  1998-10-05T00:00:00.000Z  Severe Storm(s)
 2               1252           NaN  1998-10-05T00:00:00.000Z  Severe Storm(s)
 3               1252           NaN  1998-10-05T00:00:00.000Z  Severe Storm(s)
 4               1255           NaN  1998-10-16T00:00:00.000Z    Mud/Landslide
 ...              ...           ...                       ...              ...
 1886            4418     Statewide  2019-03-04T00:00:00.000Z  Severe Storm(s)
 1887            4418  Grays Harbor  2019-03-04T00:00:00.000Z  Severe Storm(s)
 1888            4418       Whatcom  2019-03-04T00:00:00.000Z  Severe Storm(s)
 1889            4418     Jefferson  2019-03-04T00:00:00.000Z  Severe Storm(s)
 1890            4418     Jefferson  2019-03-04T00:00:00.000Z  Severe Storm(s)

       amountOblig
 0         1184.25
 1         1368.00
 2        45404.18
 3         7556.14
 4        65626.50
 ...           ...
 1886     42601.32
 1887     53263.60
 1888     52640.91
 1889    177042.01
 1890      4782.24

 [1891 rows x 5 columns],
       disasterNumber    county           declarationDate incidentType  \
 0               1319   Braxton  2000-02-28T00:00:00.000Z        Flood
 1               1319    Cabell  2000-02-28T00:00:00.000Z        Flood
 2               1319      Wirt  2000-02-28T00:00:00.000Z        Flood
 3               1319      Wirt  2000-02-28T00:00:00.000Z        Flood
 4               1319    Wetzel  2000-02-28T00:00:00.000Z        Flood
 ...              ...       ...                       ...          ...
 2467            4455     Grant  2019-08-02T00:00:00.000Z        Flood
 2468            4455     Grant  2019-08-02T00:00:00.000Z        Flood
 2469            4455  Randolph  2019-08-02T00:00:00.000Z        Flood
 2470            4455    Tucker  2019-08-02T00:00:00.000Z        Flood
 2471            4455  Randolph  2019-08-02T00:00:00.000Z        Flood

       amountOblig
 0        10702.26
 1        11420.97
 2         5173.50
 3         1356.26
 4         2931.00
 ...           ...
 2467     51542.74
 2468     11925.00
 2469    135408.39
 2470     31480.17
 2471     42721.04

 [2472 rows x 5 columns],
       disasterNumber     county           declarationDate incidentType  \
 0               1284  Statewide  1999-08-16T00:00:00.000Z        Flood
 1               1284   Bayfield  1999-08-16T00:00:00.000Z        Flood
 2               1284       Iron  1999-08-16T00:00:00.000Z        Flood
 3               1284   Bayfield  1999-08-16T00:00:00.000Z        Flood
 4               1284   Bayfield  1999-08-16T00:00:00.000Z        Flood
 ...              ...        ...                       ...          ...
 4828            4459    Portage  2019-08-27T00:00:00.000Z        Flood
 4829            4459    Shawano  2019-08-27T00:00:00.000Z        Flood
 4830            4459    Waupaca  2019-08-27T00:00:00.000Z        Flood
 4831            4459       Wood  2019-08-27T00:00:00.000Z        Flood
 4832            4459       Wood  2019-08-27T00:00:00.000Z        Flood

       amountOblig
 0        27504.75
 1        50237.25
 2         3108.63
 3       124167.75
 4        19820.84
 ...           ...
 4828     10796.84
 4829     10087.13
 4830      5158.58
 4831   1060619.42
 4832     23287.50

 [4833 rows x 5 columns],
     disasterNumber    county           declarationDate      incidentType  \
 0             1268  Niobrara  1999-02-17T00:00:00.000Z  Severe Ice Storm
 1             1268  Niobrara  1999-02-17T00:00:00.000Z  Severe Ice Storm
 2             1268  Niobrara  1999-02-17T00:00:00.000Z  Severe Ice Storm
 3             1268  Niobrara  1999-02-17T00:00:00.000Z  Severe Ice Storm
 4             1268  Niobrara  1999-02-17T00:00:00.000Z  Severe Ice Storm
 ..             ...       ...                       ...               ...
 89            4327   Fremont  2017-08-05T00:00:00.000Z             Flood
 90            4327      Park  2017-08-05T00:00:00.000Z             Flood
 91            4327   Fremont  2017-08-05T00:00:00.000Z             Flood
 92            4327  Washakie  2017-08-05T00:00:00.000Z             Flood
 93            4327   Fremont  2017-08-05T00:00:00.000Z             Flood

     amountOblig
 0     471180.09
 1     150548.25
 2       4621.50
 3      26656.91
 4       1008.35
 ..          ...
 89     17623.25
 90    289599.89
 91   3623224.68
 92    170434.01
 93    342447.74

 [94 rows x 5 columns],
      disasterNumber                county           declarationDate  \
 0              1325  District of Columbia  2000-04-10T00:00:00.000Z
 1              1325  District of Columbia  2000-04-10T00:00:00.000Z
 2              1325  District of Columbia  2000-04-10T00:00:00.000Z
 3              1325  District of Columbia  2000-04-10T00:00:00.000Z
 4              1325  District of Columbia  2000-04-10T00:00:00.000Z
 ..              ...                   ...                       ...
 332            4260  District of Columbia  2016-03-04T00:00:00.000Z
 333            4260  District of Columbia  2016-03-04T00:00:00.000Z
 334            4260  District of Columbia  2016-03-04T00:00:00.000Z
 335            4260  District of Columbia  2016-03-04T00:00:00.000Z
 336            4260  District of Columbia  2016-03-04T00:00:00.000Z

         incidentType  amountOblig
 0    Severe Storm(s)      4958.91
 1    Severe Storm(s)      1337.27
 2    Severe Storm(s)     11921.34
 3    Severe Storm(s)      4353.75
 4    Severe Storm(s)      1275.00
 ..               ...          ...
 332             Snow    107354.87
 333             Snow      8535.00
 334             Snow    138378.37
 335             Snow   6149321.51
 336             Snow   3485576.35

 [337 rows x 5 columns]]

In [49]:
#Extra cleaning of FEMA data for merging
#Remove County data
alabama_data = alabama_data.drop('county', axis=1)
alabama_data.head()
#Changing date to year
dates = alabama_data.declarationDate
years = []
for date in dates:
    year = int(date[0:4])
    years.append(year)
alabama_data['declarationDate'] = years
alabama_data = alabama_data.rename(columns={'declarationDate':'year','disasterNumber':'disasterID', 'amountOblig':'FEMA$'})
#Remove data before '03
alabama_data = alabama_data[alabama_data['year'] >= 2003]
alabama_data = alabama_data[alabama_data['year'] <= 2018]
alabama_data.head()

     disasterID  year     incidentType      FEMA$
348        1466  2003  Severe Storm(s)   93998.29
349        1466  2003  Severe Storm(s)   13497.98
350        1466  2003  Severe Storm(s)   49107.89
351        1466  2003  Severe Storm(s)  395072.54
352        1466  2003  Severe Storm(s)    3750.00

In [70]:
#Group the data to by year and disaster
alabama_group = alabama_data.groupby(['year', 'disasterID'])
disaster_types = alabama_group['incidentType'].unique()
disaster_types_fix = [dis[0] for dis in disaster_types]
alabama_group_df = pd.DataFrame({'FEMA$':alabama_group['FEMA$'].sum(), 'incidentType':disaster_types_fix})
alabama_group_df.head()

                        FEMA$     incidentType
year disasterID
2003 1466        1.213776e+07  Severe Storm(s)
2004 1549        2.182246e+08        Hurricane
2005 1593        1.986408e+07        Hurricane
     1605        1.168102e+08        Hurricane
     3237        2.942631e+06        Hurricane

In [24]:
#Read in DD summary
declare_data = pd.read_csv('disaster declaration sum2.csv')
declare_data.head()

,Unnamed: 0,disasterNumber,fipsStateCode,fyDeclared,declarationType,incidentType,fipsCountyCode,state county
0,0,4,26,1953,DR,Tornado,0,"26,0"
1,1,2,48,1953,DR,Tornado,0,"48,0"
2,2,9,48,1953,DR,Flood,0,"48,0"
3,3,11,33,1953,DR,Fire,0,"33,0"
4,4,6,26,1953,DR,Tornado,0,"26,0"

In [25]:
#Clean decleration data
declare_data = declare_data.drop(['Unnamed: 0', 'fipsCountyCode', 'state county', 'fyDeclared', 'incidentType', 'fipsStateCode'], axis=1)
declare_data.head()

   disasterNumber declarationType
0               4              DR
1               2              DR
2               9              DR
3              11              DR
4               6              DR