In [2]:
#import dependencies
import pandas as pd
import requests
import json
from pprint import pprint

In [176]:
#Make get request to API
response = requests.get('https://www.fema.gov/api/open/v1/PublicAssistanceFundedProjectsSummaries?$select=disasterNumber,incidentType,state,county,federalObligatedAmount,declarationDate&$filter=declarationDate%20ge%20%272003-01-01T00:00:00.000z%27').json()

In [177]:
#Create dataframe for the data
service_df = pd.DataFrame(response['PublicAssistanceFundedProjectsSummaries'])
service_df.head()
#Remove API call id
#service_df = service_df.drop(axis=1, columns=['id'])
service_df

,disasterNumber,declarationDate,incidentType,state,county,federalObligatedAmount,id
0,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,39217.62,5da9c70b5164620fcb025bbc
1,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,1245.00,5da9c70b5164620fcb025bb3
2,1450,2003-01-06T00:00:00.000Z,Severe Ice Storm,Arkansas,Clay,2482.43,5da9c70b5164620fcb025be8
3,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,14322.98,5da9c70b5164620fcb025bfe
4,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,30429.71,5da9c70b5164620fcb025bd7
...,...,...,...,...,...,...,...
995,3175,2003-03-11T00:00:00.000Z,Snow,Massachusetts,Bristol,10072.04,5da9c7425164620fcb03b417
996,3175,2003-03-11T00:00:00.000Z,Snow,Massachusetts,Berkshire,1395.40,5da9c7425164620fcb03b427
997,3175,2003-03-11T00:00:00.000Z,Snow,Massachusetts,Bristol,806.25,5da9c7425164620fcb03b453
998,3175,2003-03-11T00:00:00.000Z,Snow,Massachusetts,Bristol,948.11,5da9c7425164620fcb03b430
999,3175,2003-03-11T00:00:00.000Z,Snow,Massachusetts,Berkshire,2805.75,5da9c7425164620fcb03b43b

In [144]:
#Clean the df
dates = service_df.declarationDate
years = []
for date in dates:
    years.append(int(date[0:4]))
service_df['declarationDate'] = years
service_df = service_df.rename(columns={'declarationDate':'Year'})
service_df.head()

,disasterNumber,Year,incidentType,state,county,federalObligatedAmount
0,1239,1998,Severe Storm(s),Texas,Val Verde,12028.63
1,1240,1998,Hurricane,North Carolina,NaN,30956.35
2,1240,1998,Hurricane,North Carolina,NaN,1288255.25
3,1240,1998,Hurricane,North Carolina,NaN,4125.00
4,1240,1998,Hurricane,North Carolina,NaN,22810.25

In [150]:
#Removal of data prior to 2003
date = 1998
service_df.loc[service_df['Year'] == date]

,disasterNumber,Year,incidentType,state,county,federalObligatedAmount
0,1239,1998,Severe Storm(s),Texas,Val Verde,12028.63
1,1240,1998,Hurricane,North Carolina,NaN,30956.35
2,1240,1998,Hurricane,North Carolina,NaN,1288255.25
3,1240,1998,Hurricane,North Carolina,NaN,4125.00
4,1240,1998,Hurricane,North Carolina,NaN,22810.25
...,...,...,...,...,...,...
982,1258,1998,Severe Storm(s),Kansas,NaN,62433.47
983,1253,1998,Severe Storm(s),Missouri,NaN,6272.63
988,1258,1998,Severe Storm(s),Kansas,NaN,21562.83
993,1247,1998,Hurricane,Puerto Rico,NaN,500243.67
994,1258,1998,Severe Storm(s),Kansas,NaN,57105.75

In [49]:
#Groupby state
service_by_state = service_df.groupby('state')
service_by_state.count()

,disasterNumber,incidentType,county,federalObligatedAmount
state,,,,
Alabama,62,62,3,62
Arkansas,6,6,6,6
Colorado,1,1,1,1
Iowa,4,4,4,4
Kansas,19,19,0,19
Louisiana,1,1,1,1
Maine,3,3,0,3
Minnesota,5,5,5,5
Mississippi,4,4,4,4
Missouri,33,33,0,33
Nevada,1,1,1,1
New York,250,250,0,250
North Carolina,162,162,4,162
North Dakota,10,10,10,10
Oklahoma,5,5,5,5
Pennsylvania,1,1,1,1
Puerto Rico,231,231,0,229
South Carolina,26,26,0,26
Tennessee,10,10,10,10
Texas,123,123,72,123
Virgin Islands of the U.S.,23,23,0,23
Virginia,10,10,0,10
Washington,5,5,0,5
Wisconsin,5,5,5,5

In [56]:
service_by_state.count().sum()

disasterNumber            1000
incidentType              1000
county                     132
federalObligatedAmount     998
dtype: int64