In [2]:
#import dependencies
import pandas as pd
import requests
import json
from pprint import pprint

In [75]:
#Make get request to API
response = requests.get('https://www.fema.gov/api/open/v1/PublicAssistanceFundedProjectsSummaries?$select=disasterNumber,incidentType,state,county,federalObligatedAmount,declarationDate').json()

In [143]:
#Create dataframe for the data
service_df = pd.DataFrame(response['PublicAssistanceFundedProjectsSummaries'])
service_df.head()
#Remove API call id
service_df = service_df.drop(axis=1, columns=['id'])
service_df.head()

,disasterNumber,declarationDate,incidentType,state,county,federalObligatedAmount
0,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,Val Verde,12028.63
1,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,30956.35
2,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,1288255.25
3,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,4125.00
4,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,22810.25

In [144]:
#Clean the df
dates = service_df.declarationDate
years = []
for date in dates:
    years.append(int(date[0:4]))
service_df['declarationDate'] = years
service_df = service_df.rename(columns={'declarationDate':'Year'})
service_df.head()

,disasterNumber,Year,incidentType,state,county,federalObligatedAmount
0,1239,1998,Severe Storm(s),Texas,Val Verde,12028.63
1,1240,1998,Hurricane,North Carolina,NaN,30956.35
2,1240,1998,Hurricane,North Carolina,NaN,1288255.25
3,1240,1998,Hurricane,North Carolina,NaN,4125.00
4,1240,1998,Hurricane,North Carolina,NaN,22810.25

In [ ]:
#Removal of data prior to 2003

In [49]:
#Groupby state
service_by_state = service_df.groupby('state')
service_by_state.count()

,disasterNumber,incidentType,county,federalObligatedAmount
state,,,,
Alabama,62,62,3,62
Arkansas,6,6,6,6
Colorado,1,1,1,1
Iowa,4,4,4,4
Kansas,19,19,0,19
Louisiana,1,1,1,1
Maine,3,3,0,3
Minnesota,5,5,5,5
Mississippi,4,4,4,4
Missouri,33,33,0,33
Nevada,1,1,1,1
New York,250,250,0,250
North Carolina,162,162,4,162
North Dakota,10,10,10,10
Oklahoma,5,5,5,5
Pennsylvania,1,1,1,1
Puerto Rico,231,231,0,229
South Carolina,26,26,0,26
Tennessee,10,10,10,10
Texas,123,123,72,123
Virgin Islands of the U.S.,23,23,0,23
Virginia,10,10,0,10
Washington,5,5,0,5
Wisconsin,5,5,5,5

In [56]:
service_by_state.count().sum()

disasterNumber            1000
incidentType              1000
county                     132
federalObligatedAmount     998
dtype: int64