In [210]:
#import dependencies
import pandas as pd
import requests
import json
from pprint import pprint

In [211]:
#Make get request to API
response = requests.get('https://www.fema.gov/api/open/v1/PublicAssistanceFundedProjectsSummaries?$select=disasterNumber,incidentType,state,county,federalObligatedAmount,declarationDate&$filter=declarationDate%20ge%20%272003-01-01T00:00:00.000z%27').json()

In [250]:
#Create dataframe for the data
service_df = pd.DataFrame(response['PublicAssistanceFundedProjectsSummaries'])
service_df.head()
#Remove API call id
service_df = service_df.drop(axis=1, columns=['id'])
service_df.head()

,disasterNumber,declarationDate,incidentType,state,county,federalObligatedAmount
0,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,39217.62
1,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,1245.00
2,1450,2003-01-06T00:00:00.000Z,Severe Ice Storm,Arkansas,Clay,2482.43
3,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,14322.98
4,1449,2003-01-06T00:00:00.000Z,Typhoon,Federated States of Micronesia,Chuuk,30429.71

In [251]:
#Remove non-states
states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming", "District of Columbia (DC)"]
indexes_to_drop = []
index = 0
indexes = []
while index + 1 < len(service_df):
    row = service_df.iloc[index]
    state = row['state']
    if state not in states:
        indexes.append(index)
    index += 1
service_df = service_df.drop(indexes)

In [252]:
#Change date-time to years
dates = service_df['declarationDate']
years = []
for date in dates:
    year = date[0:4]
    years.append(year)
service_df['declarationDate'] = years
service_df = service_df.rename(columns={'declarationDate':'Year'})
service_df.head()

,disasterNumber,Year,incidentType,state,county,federalObligatedAmount
2,1450,2003,Severe Ice Storm,Arkansas,Clay,2482.43
11,1450,2003,Severe Ice Storm,Arkansas,Clay,3825.00
21,1450,2003,Severe Ice Storm,Arkansas,Clay,53998.49
22,1450,2003,Severe Ice Storm,Arkansas,Clay,2549.25
23,1450,2003,Severe Ice Storm,Arkansas,Clay,32311.92