In [127]:
#import dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [128]:
#Read in FEMA data
fema = pd.read_csv('publicAssistanceData/byDisasterandCounty.csv')
fema['medianIncome'] = 0
fema.head()

,incidentType,state,county,incidentCount,FEMA$,medianIncome
0,Chemical,WestVirginia,Boone,6,12013.226667,0
1,Chemical,WestVirginia,Cabell,2,3826.870000,0
2,Chemical,WestVirginia,Kanawha,12,50986.351667,0
3,Chemical,WestVirginia,Lincoln,9,7432.647778,0
4,Chemical,WestVirginia,Putnam,13,5519.388462,0

In [129]:
states = {"Alabama":'AL',"Alaska":'AK',"Arizona":'AZ',"Arkansas":'AR',"California":'CA',"Colorado":"CO",
  "Connecticut":"CT","Delaware":"DE","Florida":"FL","Georgia":"GA","Hawaii":"HI","Idaho":"ID","Illinois":"IL",
  "Indiana":"IN","Iowa":"IA","Kansas":"KS","Kentucky":"KY","Louisiana":"LA","Maine":"ME","Maryland":"MD",
  "Massachusetts":"MA","Michigan":"MI","Minnesota":"MN","Mississippi":"MS","Missouri":"MI","Montana":"MT",
  "Nebraska":"NE","Nevada":"NV","NewHampshire":"NH","NewJersey":"NJ","NewMexico":"NM","NewYork":"NY",
  "NorthCarolina":"NC","NorthDakota":"ND","Ohio":"OH","Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA",
  "RhodeIsland":"RI","SouthCarolina":"SC","SouthDakota":"SD","Tennessee":"TN","Texas":"TX","Utah":"UT",
  "Vermont":"VT","Virginia":"VA","Washington":"WA","WestVirginia":"WV","Wisconsin":"WI","Wyoming":"WY", "DistrictofColumbia":"DC"}
df_states = fema['state']
state_fix = [states[state] for state in df_states]
fema['state'] = state_fix
fema

     incidentType state   county  incidentCount         FEMA$  medianIncome
0        Chemical    WV    Boone              6  1.201323e+04             0
1        Chemical    WV   Cabell              2  3.826870e+03             0
2        Chemical    WV  Kanawha             12  5.098635e+04             0
3        Chemical    WV  Lincoln              9  7.432648e+03             0
4        Chemical    WV   Putnam             13  5.519388e+03             0
...           ...   ...      ...            ...           ...           ...
7549      Tsunami    HI     Maui              7  2.939823e+04             0
7550      Tsunami    OR     Coos              3  4.454609e+04             0
7551      Tsunami    OR    Curry              5  1.018568e+06             0
7552      Tsunami    OR  Lincoln              3  6.313122e+04             0
7553      Volcano    HI   Hawaii             14  9.136473e+05             0

[7554 rows x 6 columns]

In [130]:
#Read in SAPIE data
sapie = pd.read_csv('SAPIE_DataClean/ByYear/18SAPIE.csv')
#Clean SAPIE Data
sapie['Name'] = sapie['Name'].str.strip('County')
sapie = sapie.drop(['Unnamed: 0', 'State County FIPS'], axis=1)
sapie = sapie.rename(columns={'Postal Code':'state', 'Name':'county'})
sapie

     state       county Median Household Income
0       AL     Autauga                    44241
1       AL     Baldwin                    41961
2       AL     Barbour                    26062
3       AL        Bibb                    32924
4       AL      Blount                    37758
...    ...          ...                     ...
3136    WY  Sweetwater                    52541
3137    WY       Teton                    57485
3138    WY       Uinta                    48658
3139    WY    Washakie                    40357
3140    WY      Weston                    39383

[3141 rows x 3 columns]

In [131]:
#Add Income data to FEMA
merged = fema.merge(sapie, on=['state', 'county'])
merged.tail()

,incidentType,state,county,incidentCount,FEMA$,medianIncome,Median Household Income
0,Earthquake,DC,District of Columbia,15,266368.215333,0,43215
1,Hurricane,DC,District of Columbia,82,149075.905610,0,43215
2,Other,DC,District of Columbia,23,414807.994783,0,43215
3,Severe Storm(s),DC,District of Columbia,129,112287.041163,0,43215
4,Snow,DC,District of Columbia,83,248338.387349,0,43215

In [134]:
merged_tom = pd.merge(fema, sapie, how='left')
merged_tom

,incidentType,state,county,incidentCount,FEMA$,medianIncome,Median Household Income
0,Chemical,WV,Boone,6,1.201323e+04,0,NaN
1,Chemical,WV,Cabell,2,3.826870e+03,0,NaN
2,Chemical,WV,Kanawha,12,5.098635e+04,0,NaN
3,Chemical,WV,Lincoln,9,7.432648e+03,0,NaN
4,Chemical,WV,Putnam,13,5.519388e+03,0,NaN
...,...,...,...,...,...,...,...
7549,Tsunami,HI,Maui,7,2.939823e+04,0,NaN
7550,Tsunami,OR,Coos,3,4.454609e+04,0,NaN
7551,Tsunami,OR,Curry,5,1.018568e+06,0,NaN
7552,Tsunami,OR,Lincoln,3,6.313122e+04,0,NaN
7553,Volcano,HI,Hawaii,14,9.136473e+05,0,NaN