In [1]:
#import dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [2]:
#Read in FEMA data
fema = pd.read_csv('publicAssistanceData/byDisasterandCounty.csv')
fema['medianIncome'] = 0
fema.head()

,incidentType,state,county,incidentCount,FEMA$,medianIncome
0,Chemical,WestVirginia,Boone,6,12013.226667,0
1,Chemical,WestVirginia,Cabell,2,3826.870000,0
2,Chemical,WestVirginia,Kanawha,12,50986.351667,0
3,Chemical,WestVirginia,Lincoln,9,7432.647778,0
4,Chemical,WestVirginia,Putnam,13,5519.388462,0

In [3]:
states = {"Alabama":'AL',"Alaska":'AK',"Arizona":'AZ',"Arkansas":'AR',"California":'CA',"Colorado":"CO",
  "Connecticut":"CT","Delaware":"DE","Florida":"FL","Georgia":"GA","Hawaii":"HI","Idaho":"ID","Illinois":"IL",
  "Indiana":"IN","Iowa":"IA","Kansas":"KS","Kentucky":"KY","Louisiana":"LA","Maine":"ME","Maryland":"MD",
  "Massachusetts":"MA","Michigan":"MI","Minnesota":"MN","Mississippi":"MS","Missouri":"MI","Montana":"MT",
  "Nebraska":"NE","Nevada":"NV","NewHampshire":"NH","NewJersey":"NJ","NewMexico":"NM","NewYork":"NY",
  "NorthCarolina":"NC","NorthDakota":"ND","Ohio":"OH","Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA",
  "RhodeIsland":"RI","SouthCarolina":"SC","SouthDakota":"SD","Tennessee":"TN","Texas":"TX","Utah":"UT",
  "Vermont":"VT","Virginia":"VA","Washington":"WA","WestVirginia":"WV","Wisconsin":"WI","Wyoming":"WY", "DistrictofColumbia":"DC"}
df_states = fema['state']
state_fix = [states[state] for state in df_states]
fema['state'] = state_fix
fema

,incidentType,state,county,incidentCount,FEMA$,medianIncome
0,Chemical,WV,Boone,6,1.201323e+04,0
1,Chemical,WV,Cabell,2,3.826870e+03,0
2,Chemical,WV,Kanawha,12,5.098635e+04,0
3,Chemical,WV,Lincoln,9,7.432648e+03,0
4,Chemical,WV,Putnam,13,5.519388e+03,0
5,Coastal Storm,AK,Kenai Peninsula,1,2.994494e+06,0
6,Coastal Storm,AK,North Slope,1,3.915189e+06,0
7,Coastal Storm,FL,Charlotte,5,2.126999e+05,0
8,Coastal Storm,FL,Collier,9,5.410845e+05,0
9,Coastal Storm,FL,DeSoto,3,4.895548e+04,0
10,Coastal Storm,FL,Flagler,6,1.084743e+05,0
11,Coastal Storm,FL,Hardee,3,8.024874e+05,0
12,Coastal Storm,FL,Highlands,3,5.081973e+04,0
13,Coastal Storm,FL,Lee,7,5.019261e+04,0
14,Coastal Storm,FL,Manatee,17,1.886084e+05,0
15,Coastal Storm,FL,Putnam,5,1.328244e+05,0
16,Coastal Storm,FL,Sarasota,11,5.499193e+05,0
17,Coastal Storm,FL,St. Johns,4,2.864316e+05,0
18,Coastal Storm,LA,Ascension,4,1.822463e+05,0
19,Coastal Storm,LA,Assumption,3,2.417959e+04,0
20,Coastal Storm,LA,Beauregard,2,4.302188e+04,0
21,Coastal Storm,LA,E. Baton Rouge,13,7.982961e+04,0
22,Coastal Storm,LA,E. Feliciana,3,3.148334e+04,0
23,Coastal Storm,LA,Iberia,2,3.649816e+04,0
24,Coastal Storm,LA,Iberville,6,8.199316e+04,0
25,Coastal Storm,LA,Jefferson,16,1.606332e+05,0
26,Coastal Storm,LA,Lafayette,10,3.422010e+04,0
27,Coastal Storm,LA,Lafourche,18,1.365298e+05,0
28,Coastal Storm,LA,Livingston,8,2.909867e+04,0
29,Coastal Storm,LA,Orleans,3,5.561746e+04,0
...,...,...,...,...,...,...
7524,Tornado,OK,Noble,1,2.247000e+03,0
7525,Tornado,OK,Nowata,3,4.873354e+04,0
7526,Tornado,OK,Okfuskee,4,2.525595e+05,0
7527,Tornado,OK,Oklahoma,35,6.142773e+05,0
7528,Tornado,OK,Okmulgee,11,5.984209e+04,0
7529,Tornado,OK,Ottawa,2,6.425470e+03,0
7530,Tornado,OK,Pittsburg,4,6.041578e+04,0
7531,Tornado,OK,Pontotoc,3,8.121436e+04,0
7532,Tornado,OK,Pottawatomie,6,1.203211e+05,0
7533,Tornado,OK,Pushmataha,1,9.240437e+04,0
7534,Tornado,OK,Seminole,3,5.425950e+04,0
7535,Tornado,OK,Tulsa,3,2.700617e+04,0
7536,Tornado,OK,Washita,3,2.365251e+04,0
7537,Tornado,SD,Oglala Lakota,2,2.842450e+05,0
7538,Tornado,TX,Bowie,8,1.740079e+05,0
7539,Tornado,TX,Tarrant,18,1.265987e+05,0
7540,Tornado,UT,Salt Lake,3,1.261471e+05,0
7541,Tornado,WI,Polk,10,4.139159e+04,0
7542,Tornado,WI,Rusk,11,8.615426e+04,0
7543,Tornado,WI,Taylor,9,5.134699e+04,0
7544,Tsunami,CA,Del Norte,3,6.215405e+06,0
7545,Tsunami,CA,Monterey,3,1.035969e+06,0
7546,Tsunami,CA,Santa Cruz,3,4.888410e+06,0
7547,Tsunami,HI,Hawaii,9,4.121173e+04,0
7548,Tsunami,HI,Honolulu,12,2.568152e+04,0
7549,Tsunami,HI,Maui,7,2.939823e+04,0
7550,Tsunami,OR,Coos,3,4.454609e+04,0
7551,Tsunami,OR,Curry,5,1.018568e+06,0
7552,Tsunami,OR,Lincoln,3,6.313122e+04,0
7553,Volcano,HI,Hawaii,14,9.136473e+05,0

In [4]:
#Read in SAPIE data
sapie = pd.read_csv('SAPIE_DataClean/ByYear/18SAPIE.csv')
#Clean SAPIE Data
sapie['Name'] = sapie['Name'].str.strip('County')
sapie['Name'] = sapie['Name'].str.strip()
sapie = sapie.drop(['Unnamed: 0', 'State County FIPS'], axis=1)
sapie = sapie.rename(columns={'Postal Code':'state', 'Name':'county'})

In [5]:
#Add Income data to FEMA
merged = fema.merge(sapie, on=['state', 'county'])
merged.tail()

,incidentType,state,county,incidentCount,FEMA$,medianIncome,Median Household Income
6145,Snow,WI,Kewaunee,14,2890.281429,0,45868
6146,Snow,WI,Manitowoc,28,6088.025714,0,45219
6147,Tornado,IL,Fayette,17,13631.809412,0,32629
6148,Tornado,OH,Mahoning,24,34872.333333,0,36413
6149,Tornado,OH,Trumbull,36,121179.631111,0,38206

In [7]:
merged_tom = pd.merge(fema, sapie, how='inner')
merged_tom

,incidentType,state,county,incidentCount,FEMA$,medianIncome,Median Household Income
0,Chemical,WV,Boone,6,1.201323e+04,0,28675
1,Hurricane,WV,Boone,5,5.059812e+03,0,28675
2,Severe Storm(s),WV,Boone,33,3.314241e+04,0,28675
3,Chemical,WV,Kanawha,12,5.098635e+04,0,36379
4,Flood,WV,Kanawha,19,1.165905e+06,0,36379
5,Hurricane,WV,Kanawha,9,1.945292e+04,0,36379
6,Severe Storm(s),WV,Kanawha,59,1.166458e+05,0,36379
7,Snow,WV,Kanawha,6,9.009092e+03,0,36379
8,Chemical,WV,Lincoln,9,7.432648e+03,0,26142
9,Flood,WV,Lincoln,4,1.537528e+04,0,26142
10,Mud/Landslide,WV,Lincoln,1,3.846750e+03,0,26142
11,Severe Storm(s),WV,Lincoln,49,2.387695e+04,0,26142
12,Chemical,WV,Putnam,13,5.519388e+03,0,44987
13,Severe Storm(s),WV,Putnam,24,1.593968e+04,0,44987
14,Coastal Storm,FL,DeSoto,3,4.895548e+04,0,27784
15,Hurricane,FL,DeSoto,16,2.303017e+06,0,27784
16,Severe Storm(s),FL,DeSoto,3,3.815746e+04,0,27784
17,Coastal Storm,FL,Flagler,6,1.084743e+05,0,42681
18,Hurricane,FL,Flagler,47,9.287241e+05,0,42681
19,Severe Storm(s),FL,Flagler,11,1.459689e+05,0,42681
20,Coastal Storm,FL,Hardee,3,8.024874e+05,0,27851
21,Hurricane,FL,Hardee,34,7.842840e+05,0,27851
22,Severe Storm(s),FL,Hardee,4,1.007549e+05,0,27851
23,Coastal Storm,FL,Highlands,3,5.081973e+04,0,29421
24,Hurricane,FL,Highlands,50,4.800411e+05,0,29421
25,Severe Storm(s),FL,Highlands,6,3.381053e+04,0,29421
26,Coastal Storm,FL,Lee,7,5.019261e+04,0,41270
27,Hurricane,FL,Lee,153,1.157231e+06,0,41270
28,Severe Storm(s),FL,Lee,25,1.537132e+05,0,41270
29,Coastal Storm,FL,Manatee,17,1.886084e+05,0,39756
...,...,...,...,...,...,...,...
6120,Snow,MI,Gladwin,1,5.189250e+03,0,33463
6121,Snow,MI,Gratiot,17,2.425264e+03,0,37276
6122,Snow,MI,Huron,27,2.153097e+03,0,35877
6123,Snow,MI,Iosco,4,5.714438e+03,0,31295
6124,Snow,MI,Isabella,13,4.154077e+03,0,35118
6125,Snow,MI,Lenawee,20,4.955435e+03,0,47188
6126,Snow,MI,Mecosta,18,3.985514e+03,0,34827
6127,Snow,MI,Montcalm,13,2.992236e+03,0,38681
6128,Snow,MI,Montmorency,1,1.486275e+04,0,30452
6129,Snow,MI,Oceana,4,4.954493e+03,0,36768
6130,Snow,MI,Ogemaw,1,1.312725e+04,0,31137
6131,Snow,MI,Oscoda,1,8.574390e+03,0,28291
6132,Snow,MI,Otsego,4,5.638547e+03,0,42359
6133,Snow,MI,Sanilac,21,4.018036e+03,0,37100
6134,Snow,MI,Shiawassee,17,4.233534e+03,0,43356
6135,Snow,MI,St. Joseph,39,4.646123e+03,0,39712
6136,Snow,MI,Tuscola,30,2.756127e+03,0,39862
6137,Snow,MI,Van Buren,45,4.155165e+03,0,40513
6138,Snow,NV,Eureka,2,6.558800e+03,0,41068
6139,Snow,NV,Lander,2,2.012044e+04,0,46237
6140,Snow,NV,White Pine,2,1.209031e+04,0,36765
6141,Snow,ND,Slope,2,6.018650e+03,0,27532
6142,Snow,OH,Sandusky,26,4.192922e+03,0,41619
6143,Snow,SD,Bennett,1,1.932450e+03,0,25909
6144,Snow,WI,Door,15,3.972157e+03,0,41481
6145,Snow,WI,Kewaunee,14,2.890281e+03,0,45868
6146,Snow,WI,Manitowoc,28,6.088026e+03,0,45219
6147,Tornado,IL,Fayette,17,1.363181e+04,0,32629
6148,Tornado,OH,Mahoning,24,3.487233e+04,0,36413
6149,Tornado,OH,Trumbull,36,1.211796e+05,0,38206