In [1]:
#Import Dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [6]:
state_data = 'publicAssistanceData/output_data/state_data/'
alabama_data = pd.read_csv(state_data + 'AlabamaPublic.csv')
alabama_data.head()

   disasterNumber county           declarationDate incidentType  amountOblig
0            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane    160829.33
1            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane    367256.52
2            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane     29615.25
3            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane     71458.04
4            1250    NaN  1998-09-30T00:00:00.000Z    Hurricane     12179.74

In [7]:
#Extra cleaning of FEMA data for merging
#Remove County data
alabama_data = alabama_data.drop('county', axis=1)
#Changing date to year
dates = alabama_data.declarationDate
years = []
for date in dates:
    year = date[0:4]
    years.append(year)
alabama_data['declarationDate'] = years
alabama_data = alabama_data.rename(columns={'declarationDate':'year'})
alabama_data.head()

   disasterNumber  year incidentType  amountOblig
0            1250  1998    Hurricane    160829.33
1            1250  1998    Hurricane    367256.52
2            1250  1998    Hurricane     29615.25
3            1250  1998    Hurricane     71458.04
4            1250  1998    Hurricane     12179.74