In [2]:
#import dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [3]:
#Read in FEMA data
fema = pd.read_csv('publicAssistanceData/byDisasterandCounty.csv')
fema.head()

  incidentType         state   county  incidentCount         FEMA$
0     Chemical  WestVirginia    Boone              6  12013.226667
1     Chemical  WestVirginia   Cabell              2   3826.870000
2     Chemical  WestVirginia  Kanawha             12  50986.351667
3     Chemical  WestVirginia  Lincoln              9   7432.647778
4     Chemical  WestVirginia   Putnam             13   5519.388462

In [4]:
states = {"Alabama":'AL',"Alaska":'AK',"Arizona":'AZ',"Arkansas":'AR',"California":'CA',"Colorado":"CO",
  "Connecticut":"CT","Delaware":"DE","Florida":"FL","Georgia":"GA","Hawaii":"HI","Idaho":"ID","Illinois":"IL",
  "Indiana":"IN","Iowa":"IA","Kansas":"KS","Kentucky":"KY","Louisiana":"LA","Maine":"ME","Maryland":"MD",
  "Massachusetts":"MA","Michigan":"MI","Minnesota":"MN","Mississippi":"MS","Missouri":"MI","Montana":"MT",
  "Nebraska":"NE","Nevada":"NV","NewHampshire":"NH","NewJersey":"NJ","NewMexico":"NM","NewYork":"NY",
  "NorthCarolina":"NC","NorthDakota":"ND","Ohio":"OH","Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA",
  "RhodeIsland":"RI","SouthCarolina":"SC","SouthDakota":"SD","Tennessee":"TN","Texas":"TX","Utah":"UT",
  "Vermont":"VT","Virginia":"VA","Washington":"WA","WestVirginia":"WV","Wisconsin":"WI","Wyoming":"WY", "DistrictofColumbia":"DC"}
df_states = fema['state']
state_fix = [states[state] for state in df_states]
fema['state'] = state_fix
fema.head()

  incidentType state   county  incidentCount         FEMA$
0     Chemical    WV    Boone              6  12013.226667
1     Chemical    WV   Cabell              2   3826.870000
2     Chemical    WV  Kanawha             12  50986.351667
3     Chemical    WV  Lincoln              9   7432.647778
4     Chemical    WV   Putnam             13   5519.388462

In [5]:
#Read in SAPIE data
sapie = pd.read_csv('SAPIE_DataClean/ByYear/18SAPIE.csv')
#Clean SAPIE Data
sapie['Name'] = sapie['Name'].str.strip('County')
sapie['Name'] = sapie['Name'].str.strip()
sapie = sapie.drop(['Unnamed: 0', 'State County FIPS'], axis=1)
sapie = sapie.rename(columns={'Postal Code':'state', 'Name':'county'})
sapie.head()

  state   county Median Household Income
0    AL  Autauga                   44241
1    AL  Baldwin                   41961
2    AL  Barbour                   26062
3    AL     Bibb                   32924
4    AL   Blount                   37758

In [6]:
#Add Income data to FEMA
merged = fema.merge(sapie, on=['state', 'county'])
merged.head()

,incidentType,state,county,incidentCount,FEMA$,Median Household Income
0,Chemical,WV,Boone,6,1.201323e+04,28675
1,Hurricane,WV,Boone,5,5.059812e+03,28675
2,Severe Storm(s),WV,Boone,33,3.314241e+04,28675
3,Chemical,WV,Kanawha,12,5.098635e+04,36379
4,Flood,WV,Kanawha,19,1.165905e+06,36379

merged_tom = pd.merge(fema, sapie, how='inner')
merged_tom

In [10]:
#Bin data by Med income
merged['Median Household Income'] = merged['Median Household Income'].astype(int)
bins = [10000,20000,30000,40000,50000,60000,70000,80000,90000,100000]
labels = ['10k-20k','20k-30k','30k-40k','40k-50k','50k-60k','60k-70k','70k-80k','80k-90k','90k-100k']
merged['incomeGroup'] = pd.cut(merged['Median Household Income'], bins=bins, labels=labels)
merged.head()

,incidentType,state,county,incidentCount,FEMA$,Median Household Income,incomeGroup
0,Chemical,WV,Boone,6,1.201323e+04,28675,20k-30k
1,Hurricane,WV,Boone,5,5.059812e+03,28675,20k-30k
2,Severe Storm(s),WV,Boone,33,3.314241e+04,28675,20k-30k
3,Chemical,WV,Kanawha,12,5.098635e+04,36379,30k-40k
4,Flood,WV,Kanawha,19,1.165905e+06,36379,30k-40k