In [21]:
#import dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [29]:
#Read in FEMA data
fema = pd.read_csv('publicAssistanceData/byDisasterandCounty.csv')
fema['medianIncome'] = 0
fema.head()

,incidentType,state,county,incidentCount,FEMA$,medianIncome
0,Chemical,WestVirginia,Boone,6,12013.226667,0
1,Chemical,WestVirginia,Cabell,2,3826.870000,0
2,Chemical,WestVirginia,Kanawha,12,50986.351667,0
3,Chemical,WestVirginia,Lincoln,9,7432.647778,0
4,Chemical,WestVirginia,Putnam,13,5519.388462,0

In [32]:
states = {"Alabama":'AL',"Alaska":'AK',"Arizona":'AZ',"Arkansas":'AR',"California":'CA',"Colorado":"CO",
  "Connecticut":"CT","Delaware":"DE","Florida":"FL","Georgia":"GA","Hawaii":"HI","Idaho":"ID","Illinois":"IL",
  "Indiana":"IN","Iowa":"IA","Kansas":"KS","Kentucky":"KY","Louisiana":"LA","Maine":"ME","Maryland":"MD",
  "Massachusetts":"MA","Michigan":"MI","Minnesota":"MN","Mississippi":"MS","Missouri":"MI","Montana":"MT",
  "Nebraska":"NE","Nevada":"NV","NewHampshire":"NH","NewJersey":"NJ","NewMexico":"NM","NewYork":"NY",
  "NorthCarolina":"NC","NorthDakota":"ND","Ohio":"OH","Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA",
  "RhodeIsland":"RI","SouthCarolina":"SC","SouthDakota":"SD","Tennessee":"TN","Texas":"TX","Utah":"UT",
  "Vermont":"VT","Virginia":"VA","Washington":"WA","WestVirginia":"WV","Wisconsin":"WI","Wyoming":"WY", "DistrictofColumbia":"DC"}
#for state in states:
    #state_df = pd.read_csv(f'SAPIE_DataClean/ByState/{states[state]}_SAPIE.csv')
   # state_df = state_df[state_df['Year'] == 2003]
    #counties = state_df['Name']
    #for county in counties:
      #  fema.iloc[[state, county], 'medianIncome'] = state_df.loc[state_df['Name'] == f'{county} County', 'Median Household Income']
state_df = pd.read_csv('SAPIE_DataClean/ByState/AL_SAPIE.csv')
state_df['Name'] = state_df['Name'].str.strip('County')
df_states = fema['state']
state_fix = [states[state] for state in df_states]
fema['state'] = state_fix
fema.head()

  incidentType state   county  incidentCount         FEMA$  medianIncome
0     Chemical    WV    Boone              6  12013.226667             0
1     Chemical    WV   Cabell              2   3826.870000             0
2     Chemical    WV  Kanawha             12  50986.351667             0
3     Chemical    WV  Lincoln              9   7432.647778             0
4     Chemical    WV   Putnam             13   5519.388462             0