In [29]:
#Imort Dependencies
import pandas as pd

In [30]:
#Read in SAPIE data into an array of dfs
years = range(3, 19)
year_dfs = []
for year in years:
    year = str(year)
    if len(year) == 1:
        year = f'0{year}'
    df = pd.read_csv('../sapie_data_csv/est03all.csv', header=1)
    year_dfs.append(df)
year_dfs[0].head()

,State FIPS,County FIPS,Postal Code,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,0,US,United States,35861170,35190401,36531939,12.5,12.2,12.7,...,16.6,43318,43009,43627,4021366.0,3817517.0,4225215.0,20.3,19.3,21.4
1,1,0,AL,Alabama,677455,644647,710263,15.3,14.5,16,...,22.5,36131,34659,37602,72477.0,62361.0,82594.0,24.7,21.3,28.2
2,1,1,AL,Autauga County,4926,3815,6038,10.4,8.1,12.7,...,18.4,44241,41547,47109,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,AL,Baldwin County,15753,12234,19273,10.1,7.9,12.4,...,18,41961,39479,44600,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,AL,Barbour County,5717,4411,7022,22.2,17.1,27.3,...,37.9,26062,24432,27801,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#Filter out unwanted data
dfs = []
years = range(3, 19)
for df in year_dfs:    
    df_edit = df[['State FIPS', 'County FIPS', 'Postal Code', 'Name', 'Median Household Income']]
    df_edit = df_edit.loc[df_edit['County FIPS'] != 0]
    df_edit['State County FIPS'] = df_edit['State FIPS'].astype(str) + ' , ' + df_edit['County FIPS'].astype(str)
    df_edit = df_edit[['State County FIPS', 'Postal Code', 'Name', 'Median Household Income']]
    df_edit['State County FIPS'] = df_edit['State County FIPS'].astype(str)
    df_edit = df_edit.reset_index(drop=True)
    dfs.append(df_edit)
dfs[0]

     State County FIPS Postal Code               Name Median Household Income
0                1 , 1          AL     Autauga County                   44241
1                1 , 3          AL     Baldwin County                   41961
2                1 , 5          AL     Barbour County                   26062
3                1 , 7          AL        Bibb County                   32924
4                1 , 9          AL      Blount County                   37758
...                ...         ...                ...                     ...
3136           56 , 37          WY  Sweetwater County                   52541
3137           56 , 39          WY       Teton County                   57485
3138           56 , 41          WY       Uinta County                   48658
3139           56 , 43          WY    Washakie County                   40357
3140           56 , 45          WY      Weston County                   39383

[3141 rows x 4 columns]

In [32]:
#Save new dfs as csvs
for df in dfs:
    for year in years:
        year = str(year)
        if len(year) == 1:
            year = f'0{year}'
        df.to_csv(f'ByYear/{year}SAPIE.csv')

In [33]:
#Add year to year dataframes in preperation for sorting by year
df_years = []
year = 3
for df in dfs:
    if len(str(year)) == 1:
        year_string = f'200{year}'
    else:
        year_string = f'20{year}'
    df['Year'] = year_string
    df_years.append(df)
    year += 1
df_years[0]

,State County FIPS,Postal Code,Name,Median Household Income,Year
0,"1 , 1",AL,Autauga County,44241,2003
1,"1 , 3",AL,Baldwin County,41961,2003
2,"1 , 5",AL,Barbour County,26062,2003
3,"1 , 7",AL,Bibb County,32924,2003
4,"1 , 9",AL,Blount County,37758,2003
...,...,...,...,...,...
3136,"56 , 37",WY,Sweetwater County,52541,2003
3137,"56 , 39",WY,Teton County,57485,2003
3138,"56 , 41",WY,Uinta County,48658,2003
3139,"56 , 43",WY,Washakie County,40357,2003
3140,"56 , 45",WY,Weston County,39383,2003

In [34]:
#Set dictionary of dfs for each state by year
state_dfs = {'AL':[], 'AK':[], 'AZ':[], 'AR':[], 'CA':[], 'CO':[], 'CT':[], 'DE':[], 'DC':[], 'FL':[], 'GA':[], 'HI':[], 'ID':[], 'IL':[], 'IN':[], 'IA':[], 'KS':[], 'KY':[], 'LA':[], 'ME':[], 'MD':[], 'MA':[], 'MI':[], 'MN':[], 'MS':[], 'MO':[], 'MT':[], 'NE':[], 'NV':[], 'NH':[], 'NJ':[], 'NM':[], 'NY':[], 'NC':[], 'ND':[], 'OH':[], 'OK':[], 'OR':[], 'PA':[], 'RI':[], 'SC':[], 'SD':[], 'TN':[], 'TX':[], 'UT':[], 'VT':[], 'VA':[], 'WA':[], 'WV':[], 'WI':[], 'WY':[]}
for df in dfs:
    for state in state_dfs:
       state_dfs[state].append(df.loc[df['Postal Code'] == state])

In [35]:
#Concactenate each states dfs into a single df
single_state_dfs = {'AL':0, 'AK':0, 'AZ':0, 'AR':0, 'CA':0, 'CO':0, 'CT':0, 'DE':0, 'DC':0, 'FL':0, 'GA':0, 'HI':0, 'ID':0, 'IL':0, 'IN':0, 'IA':0, 'KS':0, 'KY':0, 'LA':0, 'ME':0, 'MD':0, 'MA':0, 'MI':0, 'MN':0, 'MS':0, 'MO':0, 'MT':0, 'NE':0, 'NV':0, 'NH':0, 'NJ':0, 'NM':0, 'NY':0, 'NC':0, 'ND':0, 'OH':0, 'OK':0, 'OR':0, 'PA':0, 'RI':0, 'SC':0, 'SD':0, 'TN':0, 'TX':0, 'UT':0, 'VT':0, 'VA':0, 'WA':0, 'WV':0, 'WI':0, 'WY':0}
for state in state_dfs:
    df = state_dfs[state][0]
    indexes = range(1,16)
    for i in indexes:
        df = pd.concat([df, state_dfs[state][i]])
    single_state_dfs[state] = df
single_state_dfs['RI']

,State County FIPS,Postal Code,Name,Median Household Income,Year
2309,"44 , 1",RI,Bristol County,52614,2003
2310,"44 , 3",RI,Kent County,51134,2003
2311,"44 , 5",RI,Newport County,51470,2003
2312,"44 , 7",RI,Providence County,38728,2003
2313,"44 , 9",RI,Washington County,57276,2003
...,...,...,...,...,...
2309,"44 , 1",RI,Bristol County,52614,2018
2310,"44 , 3",RI,Kent County,51134,2018
2311,"44 , 5",RI,Newport County,51470,2018
2312,"44 , 7",RI,Providence County,38728,2018
2313,"44 , 9",RI,Washington County,57276,2018

In [36]:
#Save dfs as csv files
for state in single_state_dfs:
    single_state_dfs[state].to_csv(f'ByState/{state}_SAPIE.csv')